@model IEnumerable<SeedProject_V6.Models.SeedProduct>

@{
    Layout = "_Layout";
    ViewBag.Title = "Test Prep - Seed";
}

<div class="container">
    <h2 class="page-section-heading text-center text-uppercase py-5">Test Preparation</h2>
    <div class="row col-xl-12 col-md-offset-2 custyle">
        <table class="table table-striped custab text-center">
            <thead>
                <tr>
                    <th><h6>Class</h6></th>
                    <th><h6>Description</h6></th>
                    <th><h6>Price</h6></th>
                    <th><h6>Purchase</h6></th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tr>
                    <td><img src="@item.ProductInfo.ProductImg" class="img-fluid" /></td>
                    <td class="text-center align-middle"><h5 id="font-table">@item.ProductName</h5><br /><p id="table-description"> @item.ProductInfo.ProductDescription</p></td>
                    <td class="text-center align-middle"><h6>@item.ProductInfo.ProductPrice $</h6> <br /> <p class="border-top" id="font-table">Get it now for @{double discount = Convert.ToDouble(item.ProductInfo.ProductPrice); discount = discount * 0.80;} @discount$</p></td>
                    <td class="text-center align-middle"><a class='btn btn-primary text-nowrap' asp-action="goToCart" asp-route-ProductID="@item.ProductId">Add to Card</a></td>
                </tr>
            }
        </table>
    </div>
</div>